.errorscreen {
    &.connection-lost {
        background-color: @errorscreen-bg-color;
    }
    &.connection-ok {
        background-color: @blueocean-blue;
    }

    &.connection-lost, &.connection-ok {
        /*
         * Lets ensure that the lost and ok messages are the same
         * width Vs jumpy message box resizes.
         */
        .message-box {
            min-width: 30em;
            max-width: 30em;
        }
    }
}
