#modal-snap-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #fff;
}

.page-loading svg {
    padding: 0;
    margin: 0;
    position: fixed;
    top: -1px;
    bottom: auto;
}

.btn-show-more {
    display: table;
    margin: 10px auto;
}

.activity-table {
    margin-top: 10px;

    th {
        width: 75px;
    }

    .branch {
        width: 175px;
    }

    .message {
        width: 50%;
    }

    .duration, .completed {
        width: 125px;
    }

    .status-link {
        cursor: pointer;
    }
}

.multibranch-table {
    margin-top: 10px;

    th {
        width: 100px;
    }

    .branch {
        width: 200px;
    }

    .message {
        width: 50%;
    }

    .lastcommit, .completed {
        width: 125px;
    }
}

.pr-table {
    margin-top: 10px;

    th {
        width: 75px;
    }

    .summary {
        width: 100%;
    }

    .run, .completed {
        width: 125px;
    }
}

.multibranch-table, .pr-table {
    .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 38px;

        & > * {
            margin-left: 5px;
        }
    }
}

.changeset-table {
    th {
        width: 100px;
    }

    .author {
        width: 150px;
    }

    .message {
        width: 100%;
    }

    .date {
        width: 125px;
    }
}

.artifacts-table {
    th {
        width: 100px;
    }

    .name {
        width: 100%;
    }

    .download {
        text-align: right;
    }
}

nav.page-title { // so a missing title doesn't destroy the layout
    min-height: 4.33em;

    h1 {
        display: flex;
        align-items: center;
    }
}

.sub-header { // for the progress indicator
    position: relative;
    > div > .progress-container {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        margin: 0;
        margin-bottom: -2px;
        height: 7px;
    }
}
main {
    position: relative;
    > div > .progress-container {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 100%;
        z-index: 10;
        margin: 0;
        margin-bottom: -2px;
        height: 7px;
    }
}

.nodes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nodes__section {
    display: flex;
    align-items: center;
}

.logConsole .result-item-children {
    background-color: @pre-bg;
    border: none;
    padding: 0;
}

.logConsole .result-item-title {
    .result-item-expando {
        flex-shrink: 0;
    }

    .result-item-extra-info {
        flex-shrink: 0;
        margin-left: 10px;
    }

    .result-item-label {
        display: flex;

        .result-item-label-desc {
            max-height: 16px;
            overflow: hidden;
        }

        .result-item-label-name {
            color: #a4a4a4;
            white-space: nowrap;
            margin-left: 10px;
        }
    }
}

code div {
    font-size: 12px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loadingContainer {
    background-color: #ffffff;
    margin-top: -10px;
    margin-bottom: -5px;
}

code div a{
    margin: 5px;
}

code div a.btn-secondary.inverse:hover{
    background-color: @pre-color-hover;
}

.jdl-table {
    td.multipleLines {
        white-space: pre-wrap;
    }
}

.changeset-table {
    td {
        vertical-align: top;
    }
}

.selected {
    font-weight: bold;
}

.stepAnimation-enter {
    opacity: 0;
    visibility:hidden;
    .transition(all linear 0.5s);

    &.stepAnimation-enter-active {
        opacity: 1;
        visibility:visible;
    }
}

.stepAnimation-leave {
    opacity: 1;
    visibility:visible;
    .transition(all linear 0.5s);

    &.stepAnimation-leave-active {
        opacity: 0;
        visibility:hidden;
    }
}

.stepAnimation-appear {
    opacity: 0;
    visibility:hidden;
    .transition('visibility linear 0.5s,opacity 0.5s linear');

    &.stepAnimation-appear-active {
        visibility:visible;
        opacity:1;
    }
}

.transition(@transition) {
    position: absolute;
    width: 84%;
    -webkit-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.dialog .header-content {
    .page-tabs {
        display: inline-block;
    }

    .button-bar {
        display: inline-flex;
        float: right;
        height: 40px;
        align-items: center;

        .btn {
            font-size: 15px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        &>*+* {
            margin-left:1rem;
        }
    }
}

.cell-link {
    a {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: inherit;
        .text-overflow;
    }

    &.u-link-padding a {
        padding: 0.5em 0.8em 0.5em 0;
    }
}

// FIXME: Remove this once all <table> usages are converted
.u-table-lr-indents {
    .cell-link, 
    td, th {
        &:first-child {
            padding-left: 1rem;
        }

        &:last-child {
            padding-right: 1rem;
        }
    }
}

a.pipelineRedirectLink svg {
    vertical-align: middle;
    fill: @gray-light;
    fill-opacity: 0.5;
    padding-left: 5px;
}


.log-body {
    background-color: @pre-bg;
    padding: 0.5rem;
    pre {
        clear: left;
        white-space: pre-wrap;
        word-wrap: break-word;
        counter-reset: line-numbering;
        margin: 0;
        box-sizing: border-box;
        font-size: 1.2rem;
        .fullLog {
            display: flex;
            justify-content: center;
        }
    }
    p {
        padding: 0 15px 0 55px;
        margin: 0;
        min-height: 16px;

        .log-boxes {
            display: flex;
            flex-direction: row;
        }

        a {
            display: inline-block;
            text-align: right;
            min-width: 40px;
            margin-left: -27px;
            cursor: pointer;
            text-decoration: none;
            color: @gray-light;
            white-space: nowrap;
        }
        a::before {
            content: counter(line-numbering);
            user-select: none;
            counter-increment: line-numbering;
            padding-right: 1em;
        }
        a:hover {
            color: @pre-color;
            text-decoration: none;
        }
    }
    p:hover {
        background-color: @pre-color-hover;
    }
    .line {
        color: @pre-color;
        padding-left: 22px;
        padding-right: 15px;
    }
}

.u-label-value {
    label {
        font-weight: bold;
    }
}
