.fullscreen {
    display: block;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1000;

    &.not-found {
        background: @blueocean-blue;

        &:before {
            content: '';
            background: url('./icons/kanagawa.svg') no-repeat bottom left;
            background-size: 100% auto;
            opacity: .3;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .message-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -51%);
        max-width: 40em;
        background: #fff;
        padding: 2em;
        border-radius: .2em;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);

        .message {
            margin: 1em 0 2em 0;
        }
    }
}

.pipelines-table {
    th {
        width: 10%;
        min-width: 100px;
    }

    .name {
        width: auto;
    }

    .favorite {
        width: 30px;
    }
}

.activity-table {
    th {
        width: 75px;
    }

    .branch {
        width: 175px;
    }

    .message {
        width: 50%;
    }

    .duration, .completed {
        width: 125px;
    }

    .status-link {
        cursor: pointer;
    }
}

.multibranch-table {
    th {
        width: 75px;
    }

    .branch {
        width: 200px;
    }

    .message {
        width: 50%;
    }

    .lastcommit, .completed {
        width: 125px;
    }

    .actions {
        display: flex;
        align-items: center;

        & > * {
            margin-left: 5px;
        }
    }
}

.pr-table {
    th {
        width: 75px;
    }

    .summary {
        width: 100%;
    }

    .build, .completed {
        width: 125px;
    }
}

.changeset-table {
    th {
        width: 100px;
    }

    .author {
        width: 150px;
    }

    .message {
        width: 100%;
    }

    .date {
        width: 125px;
    }
}

.artifacts-table {
    th {
        width: 100px;
    }

    .name {
        width: 100%;
    }

    .download {
        text-align: right;
    }
}

.nodes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nodes__section {
    display: flex;
    align-items: center;
}

.logConsole .result-item-children {
    background-color: @pre-bg;
    border: none;
    padding: 0;
}

code div {
    font-size: 12px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loadingContainer {
    background-color: #ffffff;
    margin-top: -10px;
    margin-bottom: -5px;
}

code div a{
    margin: 5px;
}

code div a.btn-secondary.inverse:hover{
    background-color: @pre-color-hover;
}

.jdl-table {
    td.multipleLines {
        white-space: pre-wrap;
    }
}

.changeset-table {
    td {
        vertical-align: top;
    }
}

.selected {
    font-weight: bold;
}

.stepAnimation-enter {
    opacity: 0.01;
    &.stepAnimation-enter-active {
        opacity: 1;
        .transition(all ease-in-out 1s);
    }
}

.stepAnimation-leave {
    opacity: 1;
    &.stepAnimation-leave-active {
        opacity: 0.01;
        .transition(all ease-in 0.1s);
    }
}

.stepAnimation-appear {
    .transition(all ease-in-out 1s);
    opacity: 0.01;

    &.stepAnimation-appear-active {
        opacity: 1;
        .transition(all ease-in-out 1s);
    }
}

.transition(@transition) {
    -webkit-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
