.history-button-component {

    height: 24px;

    .history-button {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: transparent;
        border: 0;
        position: relative;
    }

    .action-button-colors;
}
