.trends-view {
    padding: 1em;
}

.trends-branch-filter {
    max-width: 300px;
    margin-bottom: 2em;
}

.trends-table {
    display: flex;
    flex-wrap: wrap;
}

.trends-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trends-chart-label {
    margin-bottom: 0.5em;
}
