.run-button-component {

    display: inline-block;

    &:hover {
        cursor: pointer;
    }

    .run-button {
        width: 24px;
        height: 24px;
    }

    .stop-button {
        width: 20px;
        height: 20px;
        margin: 0 2px 2px 0;
        background-image: url('./icons/stop-button-white.svg');

        &.stopping {
            opacity: 0.4;
        }
    }

    // default themeing
    .svg-icon {
        fill: @brand-primary;

        &:hover {
            fill: @brand-primary-dark;
        }
    }

    &.dark {
        .svg-icon {
            fill: white;
        }
    }
}
