#Ignore all dot files
.DS_Store
.idea/
*.iml
*.ipr
*.iws
**/target/
*~
node
node_modules
work
app.properties
npm-debug.log
**/.settings/
**/.project
**/.classpath
blueocean-web/src/main/webapp/assets
.build_container
.watch_trigger
