#Ignore all dot files
.DS_Store
.idea/
.idea.*/
*.iml
*.ipr
*.iws
**/target/
*~
node
node_modules
work
app.properties
npm-debug.log*
**/.settings/
**/.project
**/.classpath
blueocean-dashboard/coverage
blueocean-dashboard/reports
blueocean-personalization/coverage
blueocean-personalization/reports
blueocean-web/src/main/webapp/assets
.build_container
.watch_trigger
.vscode
jsconfig.json
blueocean-core-js/nohup.out
acceptance-tests/runner/.blueocean-ath-jenkins-url
acceptance-tests/live.properties
src/main/groovy/pipeline.gdsl
