{
  "parser": "babel-eslint",
  "extends": [ "@jenkins-cd/jenkins/react"],
  "rules": {
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "padded-blocks": 0,
    "one-var-declaration-per-line": 0,
    "one-var": 0,
    "radix": 0,
    "eqeqeq": ["error", "smart"],
    "no-unused-vars": [2, {"varsIgnorePattern": "^React$"}],
    "prefer-template": 0,
    "max-len": 0
  }
}
