{
  "parser": "babel-eslint",
  "extends": [ "@jenkins-cd/jenkins/react", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/jsx-no-bind": 0,
    "eqeqeq": ["error", "smart"],
    "no-unused-vars": [2, {"varsIgnorePattern": "^React$"}],
    "max-len": [1, 160, 4]
  }
}
