.credentials-container {
    display: flex;

    > .FormElement {
        flex: 0 1 50%;
        max-width: 50%;
        margin-right: 20px;

        &:last-child {
            margin: 0;
        }
    }
}

.rename-container {
    display: flex;

    .text-pipeline {
        width: 100%;
    }

    .button-save {
        margin-left: 10px;
    }
}
