
.github-credentials-step {
    .instructions {
        margin-top: 0;
    }

    .button-connect {
        margin-left: 10px;
    }
}

.github-org-list-step {
    .org-list {
        .List-ItemContainer {
            width: 100%
        }

        .org-list-item {
            display: flex;
            align-items: center;
            padding: 18px;

            .avatar {
                margin-right: 18px;
            }
        }
    }
}

.github-repo-list-step {
    .container {
        display: flex;
        flex-direction: column;
    }

    .repo-list {
        max-height: 192px;

        .List-ItemContainer {
            width: 100%
        }
    }

    .button-create {
        margin-top: 10px;
        align-self: flex-end;
    }
}

// to the jdl

.List-DefaultRenderer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
