@import 'steps';

@import 'git';
@import 'github';

.create-pipeline {
    .ContentPageHeader-main {
        justify-content: space-between;

        .classic-link {
            display: flex;
            align-items: center;

            .svg-icon {
                fill: #fff;
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }
        }
    }

    .content-area {
        width: 700px;
    }

    .scm-provider-list {
        display: flex;
        flex-flow: row wrap;

        .provider-button .IconButton {
            margin-right: 20px;
            min-width: 220px;
            height: 56px;
        }
    }

    .creation-steps .last-step {
        margin-bottom: 100px;
    }
}

// from the JDL
@brand-primary:         #4A90E2;

.provider-button button.active{
    border-color: @brand-primary;
    background-color: lighten(@brand-primary, 37.5%);
}