@import 'steps';

@import 'git';
@import 'github';

.create-pipeline {
    .content-area {
        width: 700px;
    }

    .scm-provider-list {
        display: flex;
        flex-flow: row wrap;

        .provider-button .IconButton {
            margin-right: 20px;
            min-width: 220px;
            height: 56px;
        }
    }

    .creation-steps .last-step {
        margin-bottom: 100px;
    }
}
