<p>
    Jenkins Design Language is a reusable set of UI components for a modern Jenkins UI. You can think of it
    as a "Bootstrap for Jenkins".
</p>

<h2>Installing</h2>

<p>
    You install the JDL into your Node project as follows.
</p>
<p>
    <code>
        $ npm install --save @jenkins-cd/design-languages
    </code>
</p>

<h2>Using</h2>

<p>
    See the <a href="./docs">User Documentation</a>.
</p>
