.pipeline-card {
    display: flex;
    align-items: center;
    color: white;
    min-width: 400px;
    padding: 15px;

    .name, .branch, .commit {
        flex: 1 1 auto;
        margin-left: 10px;
    }

    .branch, .commit {
        display: flex;
        align-items: center;

        .svg-icon {
            margin-right: 5px;
        }
    }

    .commitId {
        margin: 0;
        height: 17px;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        min-width: 60px;
        margin-left: 10px;
    }

    .run {
        margin-right: 10px;
    }

    .svg-icon {
        fill: white;
    }

    // remove empty space to attain centered vertical alignment
    .run, .actions {
        > * {
            vertical-align: bottom;
        }
    }
}
