@import "variables";

.try-blueocean.header-callout {
  position: absolute;
  padding: 5px 10px;
  right: 50%;
  margin-right: -5em;
  height: 30px !important;
  top: 5px;
  color: white;
  border: 1px solid;
  border-radius: 3px;
  text-decoration: none;

  .unable-to-open {
      cursor: default;
      padding: 10px;
      position: absolute;
      width: 300px;
      z-index: 1000;
      background-color: #ff0000;
      border-radius: 3px;

      h3 {
          text-align: center;
      }

      a {
          color: white;
          font-weight: bold;
      }
  }
}

.try-blueocean.header-callout:hover {
  cursor: pointer;
}
