.pipeline-card {
    display: flex;
    align-items: center;
    border-radius: 3px;
    color: white;
    min-width: 400px;
    cursor: pointer;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;

    a {
        color: white;
        cursor: pointer;
    }

    .svgResultStatus {
        min-width: 20px;
    }

    .name, .branch, .commit {
        margin-left: 10px;
    }

    .branch, .commit {
        display: flex;
        align-items: center;
    }

    .name {
        width: 55%;
    }

    .branch {
        width: 45%;
    }

    .commit {
        min-width: 100px;
    }

    .name, .branchText, .commitId {
        min-height: 18px;
    }

    .commitId {
        margin: 0 0 0 5px;
    }

    .actions {
        min-width: 95px;
        margin-left: 10px;
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
    }

    .action-item {
        display: inline-block;
        height: 24px;
    }

    .svg-icon {
        fill: white;
    }

    // remove empty space to attain centered vertical alignment
    .run, .actions {
        > * {
            vertical-align: bottom;
        }
    }

    .action-item.stop-button {
        width: 20px;
        height: 20px;
        margin: 0 2px 2px 0;
        background-image: url('./icons/stop-white.svg');

        &.stopping {
            opacity: 0.4;
        }
    }

    .progress-spinner.running {
        circle {
            stroke: #bcd8f1;
        }
        path.running {
            stroke: white;
        }
        circle.inner {
            stroke: white;
            fill: white;
        }
    }

    .progress-spinner.queued {
        circle {
            stroke: white;
        }
        circle.inner {
            stroke: white;
            fill: white;
        }
    }

    .progress-spinner.not_built {
        circle {
            stroke: white;
        }
    }

    * > .Dialog {
        color: black;
        text-align: left;
    }
}
