{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "no-console": 0
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ]
}
