* {
    margin: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, #outer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

html {
    font-size: 62.5%;
}

body {
    background: #e5e8e9;
    color: #444;
    font-family: -apple-system, 'san francisco', 'helvetica neue', helvetica, 'avenir next', avenir, roboto, noto, ubuntu, 'century gothic', 'franklin gothic', arial, sans-serif;
    font-size: 1.4rem;
}

#outer {
    min-height: 100vh;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

header {
    background: #1d8ab7;
    min-height: 3em;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#jenkins-logo {
    margin: 0 1em;
}

header nav {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 0.5rem 0.5rem 0;
}

header nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    border-radius: 0.4rem;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem 0 0 0.5rem;
    flex: 1 1 auto;
}

header nav a:hover {
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
}

header nav::after {
    content: '';
    flex: 10000 0 auto;
    margin: 0;
    padding: 0;
    height: 0;
}

main {
    flex: 1;
}

main article {
    max-width: 60rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #caced0;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.3rem;
}