<div class="not-found">
    <div class="message-box">
        <span class="octicon octicon-alert"></span>
        <h1>404 - Page Not Found</h1>
        <div class="message">
                Sorry, the requested page was not found!
        </div>
    </div>
</div>
