All JDL components are implemented as react components. The StoryBook (below) is the
easiest way to browse the available components and to see how to use them.

<p>
    <strong>NOTE:</strong> For people interested in developing and contributing reusable JDL components and styles, please see the <a href="./dev">Developer JDL Components</a>.
</p>

<iframe class="jdl-storybook" src="./storybook/index.html" frameborder="0"></iframe>
