.Dropdown {
    display: flex;
    align-items: center;

    .Dropdown-button {
        min-width: 130px;
        padding-right: 25px;
        flex-grow: 0;
        text-align: left;
        .text-overflow;
    }

    .Dropdown-thumb {
        width: 16px;
        height: 16px;
        // nudge the thumb over the button
        margin-left: -25px;
        // but apply a right margin so total width of .Dropdown matches button
        // (-25 + 16 + 9) = 0
        margin-right: 9px;
        flex-shrink: 0;
        cursor: pointer;

        .svg-icon.keyboard_arrow_down {
            display: block;
            width: 100%;
            height: 100%;
            fill: #fff;
        }
    }

    .Dropdown-menu {
        overflow-y: scroll;
        min-width: 130px;
        max-height: 200px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: 1px solid @btn-primary-border;
        background: #fff;

        .Dropdown-menu-item {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            cursor: pointer;

            &.Dropdown-menu-item-selected {
                color: white;
                background: @brand-selection;

                &:hover {
                    background: @brand-selection;
                }
            }

            &:hover {
                text-decoration: none;
                background: #eee;
            }
        }
    }

    &.Dropdown-menu-open {
        .Dropdown-button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

}
