.Popover-modalScreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.25;
    z-index: 99;
}

.Popover-wrapper {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

.Popover-content {
    background: white;
    border: none;
    border-radius: 2px;
    padding: 2em 2em;
}

.Popover-point {
    fill: white;
    position:absolute;
}

.Popover-point--above {
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
}

.Popover-point--below {
    top: -10px;
    left: 50%;
    margin-left: -10px;
}

.Popover-point--left {
    right: -10px;
    top: 50%;
    margin-top: -10px;
}

.Popover-point--right {
    left: -10px;
    top: 50%;
    margin-top: -10px;
}
